asgiref==3.7.2
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
crispy-bootstrap5==2024.2
cryptography==41.0.6
defusedxml==0.7.1
Django==4.2.7
django-crispy-forms==2.3
django-environ==0.12.0
django-extensions==3.2.3
django-filter==23.2
django-taggit==4.0.0
djangorestframework==3.14.0
gunicorn==21.2.0
idna==3.18
mysql-connector-python==9.0.0
mysqlclient==1.4.6
oauthlib==3.2.2
packaging==26.2
pillow==10.4.0
pycparser==2.23
PyJWT==2.7.0
python-decouple==3.8
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
social-auth-app-django==5.2.0
social-auth-core==4.4.2
sqlparse==0.4.4
typing_extensions==4.16.0
tzdata==2024.2
urllib3==2.6.3